<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">My Account</a></li>
    <li><a ng-href="#"><i class="glyphicon glyphicon-shopping-cart"></i> Shopping Cart</a></li>
  </ul>
  <h3 class="text-muted">bvio 2014</h3>
</div>

    <!-- Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>


<div class="row">
    <div class="col-md-3">
        <!--<img data-src="holder.js/200x200" holder-fix>-->
        <div class="rounded bordered" style="width: 250px; height: 250px; background: url('http://slimages.macys.com/is/image/MCY/products//2/optimized/1654312_fpx.tif?$filterlrg$&wid=330&hei=404&fit=fit,1');" />
    </div>
    <div class="col-md-7">
        <h3>Clinique 3-Step Skin Care System for All Skin Types</h3>
        <p>Clinique's 3 step system of cleanse, exfoliate, moisturize gets any skin clear, radiant and glowing. In about 2 weeks, Skin becomes a perfect canvas for treatments and makeup that follow.</p>

        <p>This gift arrives in a beautifully painted watercolor box. Perfect for storing personal treasures and keepsakes.</p>
    </div>
    <div class="col-md-2">
        <h3>$10.99</h3>
        <a href="#" class="btn btn-lg btn-primary" role="button">Add to Cart</a>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-6">
</div>

<div class="row">
    <div class="col-md-8">
        <div>
            <h3 style="display: inline">Reviews</h3>

            <div id="gSignInWrapper" ng-hide="plusLoaded" ng-animate=" 'animate' ">
                <span class="label gplabel">Sign in with</span>
                <button id="customBtn" style="padding: 0; border-style: none"
                class="g-signin customGPlusSignIn"
                data-callback="signinCallback"
                data-clientid="82267265013.apps.googleusercontent.com"
                data-cookiepolicy="single_host_origin"
                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                data-scope="https://www.googleapis.com/auth/plus.login">
                <img
                     src="images/google-plus-logo_no_red.png"
                     alt="g+ signin"
                     width="25"
                     height="25"/>
                </button>

                <span class="label gplabel">to see friends' reviews</span>
            </div>
        </div>
        <div ng-repeat="review in reviews" ng-animate=" 'animate' ">
            <span class="review" >
                <img ng-show="review.friend" style="padding-left: 0" ng-src="{{review.friend.image.url}}" holder-fix>

                <h4 style="display: inline">{{review.Title}}</h4>

                <p style="display:inline; ">

                    <ul class="tileMe" style="vertical-align: middle; margin: 0 5px 0 5px">
                        <li ng-repeat="i in getNumber(review.RatingRange) track by $index" style="font-size: 1.2em;">
                            <i ng-show="$index < review.Rating" class="glyphicon glyphicon-star" style="color: rgba(236, 205, 69, 1)"></i>
                            <i ng-show="$index >= review.Rating" class="glyphicon glyphicon-star-empty" style="color: rgba(236, 205, 69, .5);"></i>
                        </li>
                    </ul>

                    {{review.UserNickname}} <span ng-show="review.UserLocation">from {{review.UserLocation}}</span></p>

                <p ng-bind-html="review.ReviewText"></p>
            </span>
            <hr width="100%"/>
        </div>

    </div>
    <div class="col-md-4">
        <h3>Social</h3> <small class="text-muted">what the internet is saying</small>
        <div id="social-feed" social-feed>
        </div>
    </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from Social Reviews</p>
</div>