<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">My Account</a></li>
    <li><a ng-href="#"><i class="glyphicon glyphicon-shopping-cart"></i> Shopping Cart</a></li>
  </ul>
  <h3 class="text-muted">bvio 2014</h3>
</div>

    <!-- Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>


<div class="row">
    <div class="col-md-3">
        <!--<img data-src="holder.js/200x200" holder-fix>-->
        <div class="rounded bordered" style="width: 250px; height: 250px; background: url('http://www.thefruitcompany.com/images/products/fuji-apples-470.jpg');" />
    </div>
    <div class="col-md-7">
        <h3>Johnny's Apples</h3>
        <p>It almost seems as if they’re blushing – and who can blame them? These Fuji Apples, grown right in our own orchards in the Hood River Valley of Oregon, have garnered so many compliments that they’re feeling a little embarrassed. But the accolades are well deserved for our biggest, freshest, and unblemished apples – as you’ll soon see when you choose them for your own home or for a much-appreciated gift.</p>

        <p>This gift arrives in a beautifully painted watercolor box. Perfect for storing personal treasures and keepsakes.</p>
    </div>
    <div class="col-md-2">
        <h3>$10.99</h3>
        <a href="#" class="btn btn-lg btn-primary" role="button">Add to Cart</a>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-6">

    <span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="82267265013.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span>
    {{ friends }}
</div>

<div class="row">
    <div class="col-md-8">
        <h3>Reviews</h3>

        <div ng-repeat="review in reviews">
            <span class="review">
                <img style="padding-left: 0" data-src="holder.js/75x75" holder-fix>

                <p style="display:inline; ">

                    <ul class="tileMe" style="vertical-align: middle; margin: 0 5px 0 5px">
                        <li ng-repeat="i in getNumber(review.RatingRange) track by $index" style="font-size: 1.2em;">
                            <i ng-show="$index < review.Rating" class="glyphicon glyphicon-star" style="color: rgba(236, 205, 69, 1)"></i>
                            <i ng-show="$index >= review.Rating" class="glyphicon glyphicon-star-empty" style="color: rgba(236, 205, 69, .5);"></i>
                        </li>
                    </ul>

                    {{review.UserNickname}} <span ng-show="review.UserLocation">from {{review.UserLocation}}</span></p>

                <p ng-bind-html="review.ReviewText"></p>
            </span>
            <hr width="100%"/>
        </div>

    </div>
    <div class="col-md-4">
        <h3>Social</h3> <small class="text-muted">what the internet is saying</small>
        <div id="social-feed" social-feed>
        </div>
    </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from Social Reviews</p>
</div>

<script type="text/javascript">
function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    console.log('User signed in');
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:

  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}
</script>